{%extends 'base.html'%}
{%block section%}
    <section>
        <div class="tm-gallery-container tm-gallery-1">
    {%for product in products%}
        
        <div class="tm-img-container tm-img-container-1">
        <h2><a href="{% url 'shop:product_detail' product.pk%}">{{ product.name}}</a></h2>
        <img src='../media/{{product.image}}' class="img-fluid tm-img-tn">
        </div>
       
        {%endfor%}
    </div>
    </section>
    <section>
    {% include 'pagination.html' with page=products %}
    </section>
{%endblock%}