{%extends 'base.html'%}
{%block section%}
<section class="tm-section">
<h1>{{ product.name }}</h1>
    {{product.description}}
    {{product.price}}
</section>   
<section class="tm-section">
    <button><a href="{% url 'shop:add_to_cart' product.pk%}">Add</a></button>
</section>
    <section class="tm-section">
    {% with comments.count as total_comments %}
        <h2>{{ total_comments }} comment {{ total_comments|pluralize }}</h2>
    {% endwith %}
    {% for comment in comments %}
        <div class='comment'>
            <p class='info'>
                {{ comment.name }}
                {{ comment.created }}:
            </p>
        {{ comment.body|linebreaks }}
        </div>
    {% empty %}
        <p>There are no comments</p>
    {% endfor %}
    
        <h2>Add new comment</h2>
        <form method='post'>
            {{ comment_form.as_p }}
            {% csrf_token %}
            <p><input type='submit' value='Add comment'></p>
        </form>
    </section>
{%endblock%}